.todo-cell {
  border: 1px solid grey;
  background-color: #e0e0cb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1875rem;
  font-weight: 500;
  padding: 0.625rem;
  overflow: hidden;
}
