.task-modal__button {
  margin-left: 40px;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
}

.task-modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  gap: 20px;
}

.task-modal__error {
  color: #d32f2f;
  font-size: 0.75rem;
  padding-left: 10px;
}
