.date-mask-input {
  min-height: 30px;
  border-radius: 7px;
  padding: 14px;
  border: 1px solid #9e5e55;
}

.date-mask-input:active,
.date-mask-input:focus,
.date-mask-input:hover {
  border: 1px solid darkgray;
}
