.todo-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}

.todo-item__cell {
  border: 1px solid grey;
  background-color: #e0e0cb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1875rem;
  font-weight: 500;
  padding: 0.625rem;
  overflow: hidden;
}

.todo-item__complete {
  width: 20px;
  height: 20px;
}

.todo-item__archive {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.todo-item__modal-container {
  display: flex;
  flex-direction: column;
}

.todo-item__modal-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.todo-item__modal-button {
  height: 30px;
}
